@model IList<Recept>

@{
	ViewData["Title"] = "Seznam receptů";  //TOTO JE VIEW NA "PRODUCTS"
}
<h1>@ViewData["Title"]</h1>


<a asp-action="Create" class="btn btn-primary mb-3">Přidat recept</a>

@{
    <div class="row">
        @foreach (var recept in Model)
        {
            <div class="col-md-4 mb-5">
                <div class="card" style="height:450px">
                    <!-- Product image-->
                    <a asp-action="ReceptView" asp-route-id="@recept.Id">
                        <img class="card-img-top img-fluid" style="height: 150px; object-fit: cover;" src="@recept.ImageSrc" alt="Product Image" />
                    </a>
                    <!-- Product details-->
                    <div class="card-body">
                        <h5 class="card-title">@recept.NazevReceptu</h5>
                        <p class="card-text"><i class="bi bi-alarm"></i> @recept.CasovaNarocnost</p>
                        <p class="card-text"><i class="bi bi-puzzle"></i> @recept.Obtiznost</p>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer">
                        <!-- <a class="btn btn-outline-dark" href="#">Add to cart</a> -->
                        <a asp-action="Edit" class="btn btn-primary mb-1" style="width: 40%" asp-route-Id="@recept.Id">Edit</a>
                        <a asp-action="Delete" class="btn btn-danger mb-1" style="width: 40%" asp-route-Id="@recept.Id" onclick="return ConfirmDelete();">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts
    {
    <script src="~/js/dialogs.js"></script>
}

@section Styles
{
    <link rel="stylesheet" href="~/css/ReceptyIndex.css" />
}
