@model CarouselReceptViewModel

@{
    ViewData["Title"] = "Home Page";  //TOTO JE "BODY" HOME PAGE, JE TO VE VIEWS HOME,
                                      //ALE ZBYTEK HTMLKA TU NENÍ,
                                      //PROTOŽE TEN UŽ JE PŘEDDEFINOVANEJ VE _VIEWSTART.CSHTML KDE JE LAYOUT
}

@{
    if (Model != null && Model.Carousels != null && Model.Carousels.Count > 0)
    {

        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">

                @for (int i = 0; i < Model.Carousels.Count; ++i)
                {
                    ViewBag.Active = "";
                    if (i == 0)
                        ViewBag.Active = "active";

                    <div class="carousel-item @ViewBag.Active">
                        <img src="@Model.Carousels[i].ImageSrc" class="d-block w-100" alt="@Model.Carousels[i].ImageAlt">
                    </div>
                }
            </div>
        </div>
    }
    <div style="text-align: center; padding-top: 30px;">
        <h1>Vítejte na stránce pro recepty</h1>
    </div>
}

@{
    if (Model != null && Model.Recepts != null && Model.Recepts.Count > 0)
    {

        //<section class="py-2">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-4 justify-content-start">

                   <!--  zavinacfor (int i = 0; i < Model.Recepts.Count; ++i)  -->
                    @foreach (var recept in Model.Recepts)
                    {
                        <div class="col-md-4 mb-5">
                            <div class="card" style="height:400px">
                                <!-- Product image-->
                                <img class="card-img-top img-fluid" style="height: 150px; object-fit: cover;" src="@recept.ImageSrc" alt="Product Image" />
                                <!-- Product details-->
                                <div class="card-body">
                                    <h5 class="card-title">@recept.NazevReceptu</h5>
                                    <!-- <p class="card-text">zavinacrecept.PopisReceptu</p> -->
                                    <p class="card-text">@((@recept.PopisReceptu.Length > 80) ? @recept.PopisReceptu.Substring(0, 80) + "..." : @recept.PopisReceptu)</p>
                                </div>
                            </div>
                        </div>
                        /*
                        
                        <div class="col mb-5">
                            <div class="card h-100" style="width: 100%;">
                                <!-- Product image-->
                                <img class="card-img-top" src="@Model.Recepts[i].ImageSrc" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@Model.Recepts[i].NazevReceptu</h5>
                                        <!-- Product reviews, zatím tam nic není a je to jenom výplň na hovno-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product popis receptu-->
                                        <div>
                                            @Model.Recepts[i].PopisReceptu
                                        </div>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Přidat do oblíbených</a></div>
                                </div>
                            </div>
                        </div>
                         */
                    }
                </div>
            </div>
        //</section>

    }
}

<!-- TATO SEKCE NA JS JE TU EXTRA EXTÉRNĚ PŘIDANÁ PROTO ABY NEBYLA V ZÁKLADNÍM LAYOUTU.
                      JE TO TU EXTRA PRO HOME PAGE INDEX.CSHTML
                 -->
@section Styles  
    {
    <link rel="stylesheet" href="~/css/shop_home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomePageIndex.css"/>
}
